In [92]:
import numpy as np
import pandas as pd

In [105]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [106]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [107]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [108]:
movies = movies.merge(credits,on='title')

In [109]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [110]:
movies['original_language'].value_counts()

original_language
en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: count, dtype: int64

In [111]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [126]:
movies = movies.merge(credits,on='title')

In [127]:
 movies =movies [['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [114]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,tagline,title,vote_average,vote_count,movie_id_x,cast_x,crew_x,movie_id_y,cast_y,crew_y
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [130]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [129]:
movies.dropna(inplace=True)

In [131]:
movies.duplicated().sum()

36

In [132]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [133]:
import ast

In [134]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [135]:
movies['genres'] =movies['genres'].apply(convert)

In [136]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [137]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [138]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [139]:
movies['cast']=movies['cast'].apply(convert)

In [140]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [141]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [142]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [143]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [144]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [145]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [146]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [179]:
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ","") for i in x]) 
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace("","") for i in x]) 
movies['cast'] = movies['cast'].apply(lambda x: [i.replace("","") for i in x]) 
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ","") for i in x])

In [180]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [181]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [182]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [201]:
new_df = movies[['movie_id','title','tags']]

In [202]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\sumit\AppData\Local\Temp\ipykernel_26080\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [203]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [204]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d Sam Worthington Zoe Saldana Sigourney Weaver Stephen Lang Michelle Rodriguez Giovanni Ribisi Joel David Moore CCH Pounder Wes Studi Laz Alonso Dileep Rao Matt Gerald Sean Anthony Moran Jason Whyte Scott Lawrence Kelly Kilgour James Patrick Pitt Sean Patrick Murphy Peter Dillon Kevin Dorman Kelson Henderson David Van Horn Jacob Tomuri Michael Blain-Rozgay Jon Curry Luke Hawker Woody Schultz Peter Mensah Sonia Yee Jahnel Curfman Ilram Choi Kyla Warren Lisa Roumain Debra Wilson Chris Mala Taylor Kibby Jodie Landau Julie Lamm Cullen B. Madden Joseph Brady Madden Frankie Torres Austin Wilson Sara Wilson Tamica Washington-Miller Lucy Briant Nathan Meister Gerry Blair Matthew Chamberlain Paul Yates Wray Wilson James Gaylyn Melvin Leno Clark III Carvon Futrell Brandon Jelkes Micah Moch Hanniyah Muhammad Christopher Nolen Christa Oliver April Marie Thomas Bravita A. Threatt Colin Bleasdale Mike Bodnar Matt Clayton Nicole Dionne Jamie Harrison Allan Henry Anthony Ingruber Ashley Jeffery Dean Knowsley Joseph Mika-Hunt Terry Notary Kai Pantano Logan Pithyou Stuart Pollock Raja Gareth Ruck Rhian Sheehan T. J. Storm Jodie Taylor Alicia Vela-Bailey Richard Whiteside Nikie Zambo Julene Renee JamesCameron'

In [205]:
new_df['tags'] =new_df['tags'].apply(lambda x:x.lower())

C:\Users\sumit\AppData\Local\Temp\ipykernel_26080\3249582252.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] =new_df['tags'].apply(lambda x:x.lower())

In [206]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [207]:
import nltk

In [208]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [209]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " " .join(y)

In [210]:
new_df['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d sam worthington zoe saldana sigourney weaver stephen lang michelle rodriguez giovanni ribisi joel david moore cch pounder wes studi laz alonso dileep rao matt gerald sean anthony moran jason whyte scott lawrence kelly kilgour james patrick pitt sean patrick murphy peter dillon kevin dorman kelson henderson david van horn jacob tomuri michael blain-rozgay jon curry luke hawker woody schultz peter mensah sonia yee jahnel curfman ilram choi kyla warren lisa roumain debra wilson chris mala taylor kibby jodie landau julie lamm cullen b. madden joseph brady madden frankie torres austin wilson sara wilson tamica washington-miller lucy briant nathan meister gerry blair matthew chamberlain paul yates wray wilson james gaylyn melvin leno clark iii carvon futrell brandon jelkes micah moch hanniyah muhammad christopher nolen christa oliver april marie thomas bravita a. threatt colin bleasdale mike bodnar matt clayton nicole dionne jamie harrison allan henry anthony ingruber ashley jeffery dean knowsley joseph mika-hunt terry notary kai pantano logan pithyou stuart pollock raja gareth ruck rhian sheehan t. j. storm jodie taylor alicia vela-bailey richard whiteside nikie zambo julene renee jamescameron'

In [193]:
new_df['tags'][1]

"captain barbossa, long believed to be dead, has come back to life and is headed to the edge of the earth with will turner and elizabeth swann. but nothing is quite as it seems. adventure fantasy action ocean drug abuse exotic island east india trading company love of one's life traitor shipwreck strong woman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger johnny depp orlando bloom keira knightley stellan skarsgård chow yun-fat bill nighy geoffrey rush jack davenport kevin mcnally tom hollander naomie harris jonathan pryce keith richards lee arenberg mackenzie crook greg ellis david bailie martin klebba david schofield lauren maher vanessa branch angus barnett giles new reggie lee dominic scott kay takayo fischer david meunier ho-kwan tse andy beckwith peter donald badalamenti ii christopher s. capp keith richards hakeem kae-kazim ghassan massoud goreverbinski"

In [213]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [218]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [219]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [220]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [217]:
ps.stem('dance')

'danc'

In [211]:
stem('in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d sam worthington zoe saldana sigourney weaver stephen lang michelle rodriguez giovanni ribisi joel david moore cch pounder wes studi laz alonso dileep rao matt gerald sean anthony moran jason whyte scott lawrence kelly kilgour james patrick pitt sean patrick murphy peter dillon kevin dorman kelson henderson david van horn jacob tomuri michael blain-rozgay jon curry luke hawker woody schultz peter mensah sonia yee jahnel curfman ilram choi kyla warren lisa roumain debra wilson chris mala taylor kibby jodie landau julie lamm cullen b. madden joseph brady madden frankie torres austin wilson sara wilson tamica washington-miller lucy briant nathan meister gerry blair matthew chamberlain paul yates wray wilson james gaylyn melvin leno clark iii carvon futrell brandon jelkes micah moch hanniyah muhammad christopher nolen christa oliver april marie thomas bravita a. threatt colin bleasdale mike bodnar matt clayton nicole dionne jamie harrison allan henry anthony ingruber ashley jeffery dean knowsley joseph mika-hunt terry notary kai pantano logan pithyou stuart pollock raja gareth ruck rhian sheehan t. j. storm jodie taylor alicia vela-bailey richard whiteside nikie zambo julene renee jamescameron')

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultur clash futur space war space coloni societi space travel futurist romanc space alien tribe alien planet cgi marin soldier battl love affair anti war power relat mind and soul 3d sam worthington zoe saldana sigourney weaver stephen lang michel rodriguez giovanni ribisi joel david moor cch pounder we studi laz alonso dileep rao matt gerald sean anthoni moran jason whyte scott lawrenc kelli kilgour jame patrick pitt sean patrick murphi peter dillon kevin dorman kelson henderson david van horn jacob tomuri michael blain-rozgay jon curri luke hawker woodi schultz peter mensah sonia yee jahnel curfman ilram choi kyla warren lisa roumain debra wilson chri mala taylor kibbi jodi landau juli lamm cullen b. madden joseph bradi madden franki torr austin wilson sara wilson tamica washington-mil luci briant nathan meister gerri blair matthew chamberlain paul yate wray wilson jame gaylyn melvin leno clark iii carvon futrel brandon jelk micah moch hanniyah muhammad christoph nolen christa oliv april mari thoma bravita a. threatt colin bleasdal mike bodnar matt clayton nicol dionn jami harrison allan henri anthoni ingrub ashley jefferi dean knowsley joseph mika-hunt terri notari kai pantano logan pithyou stuart pollock raja gareth ruck rhian sheehan t. j. storm jodi taylor alicia vela-bailey richard whitesid niki zambo julen rene jamescameron'

In [212]:
new_df['tags'].apply(stem)

0       in the 22nd century, a parapleg marin is dispa...
1       captain barbossa, long believ to be dead, ha c...
2       a cryptic messag from bond’ past send him on a...
3       follow the death of district attorney harvey d...
4       john carter is a war-weary, former militari ca...
                              ...
4840    el mariachi just want to play hi guitar and ca...
4841    a newlyw couple' honeymoon is upend by the arr...
4842    "signed, sealed, delivered" introduc a dedic q...
4843    when ambiti new york attorney sam is sent to s...
4844    ever sinc the second grade when he first saw h...
Name: tags, Length: 4842, dtype: object

In [221]:
from sklearn.metrics.pairwise import cosine_similarity

In [226]:
 similarity=cosine_similarity (vectors)

In [228]:
similarity[1]

array([0.10299613, 1.        , 0.04722238, ..., 0.02966628, 0.01658395,
       0.01243796])

In [235]:
sorted (list(enumerate (similarity [0])), reverse=True, key=lambda x:x[1])

[(0, 0.9999999999999989),
 (1325, 0.2909793627511037),
 (47, 0.2858630565057857),
 (149, 0.27619047619047615),
 (1545, 0.26488716265745904),
 (1928, 0.26291524102480945),
 (65, 0.26255330956362327),
 (2417, 0.25893977761077724),
 (3178, 0.24378483370655127),
 (2212, 0.24152294576982397),
 (278, 0.24071739063762812),
 (1615, 0.24030003692073743),
 (305, 0.23989052384330728),
 (1220, 0.2375655483665995),
 (838, 0.23756554836659946),
 (110, 0.23335334047877915),
 (598, 0.23316932522107053),
 (322, 0.2325852619920361),
 (158, 0.22944900422587713),
 (218, 0.22915837839140896),
 (1086, 0.22771001702132446),
 (270, 0.2274609266820229),
 (4073, 0.22745261897272365),
 (1391, 0.22656364142233448),
 (52, 0.22576540398538544),
 (4, 0.2230628738168076),
 (4372, 0.21957751641341997),
 (111, 0.21833151580486687),
 (507, 0.21763606102335795),
 (556, 0.2162249910469342),
 (1504, 0.21548063972378506),
 (72, 0.21480802592769457),
 (557, 0.21444438569900384),
 (2247, 0.21387261769249347),
 (67, 0.21372106056568987),
 (3, 0.21351367709958818),
 (9, 0.21330472633369243),
 (2987, 0.2120846993036388),
 (582, 0.21206266172681695),
 (184, 0.21144501580551553),
 (541, 0.2109439605614593),
 (373, 0.21033219281984755),
 (581, 0.20994795564173538),
 (505, 0.20768532761634453),
 (1773, 0.20737876550156328),
 (4076, 0.20701966780270628),
 (1361, 0.20580546572992361),
 (300, 0.2057534805866456),
 (2029, 0.20502713185026383),
 (95, 0.20485708886566067),
 (3465, 0.20481104839112363),
 (461, 0.20287055622991232),
 (1936, 0.20208992091258232),
 (3764, 0.2009592381171251),
 (94, 0.19853063847782898),
 (239, 0.19813298130565876),
 (973, 0.19764554408753918),
 (975, 0.19764554408753918),
 (977, 0.19764554408753918),
 (979, 0.19764554408753918),
 (27, 0.19758761239708186),
 (1718, 0.19720265943665383),
 (2684, 0.1971864307686071),
 (1438, 0.19680410661090175),
 (787, 0.1967215299380101),
 (1937, 0.19627999354560158),
 (2004, 0.19599157740244458),
 (2932, 0.19573582021774547),
 (1689, 0.19536475671775644),
 (122, 0.19528164438810075),
 (2986, 0.19399589841579262),
 (1791, 0.1937029811692143),
 (353, 0.1935608196770896),
 (726, 0.19275629531688127),
 (1301, 0.19221293610962234),
 (2722, 0.19214533880276322),
 (2462, 0.19206328047958626),
 (637, 0.19118560146234456),
 (633, 0.19093133136517582),
 (230, 0.1907602714550401),
 (1664, 0.1905124820246719),
 (569, 0.1903038067068491),
 (3554, 0.1902810987768468),
 (642, 0.19023794624226836),
 (56, 0.18976802881914742),
 (2085, 0.1890806391337783),
 (220, 0.18830261670480172),
 (770, 0.18823081310526069),
 (796, 0.1879753004933977),
 (25, 0.18749321868388003),
 (36, 0.18679123569398867),
 (875, 0.1867115883231632),
 (1224, 0.1857619488237279),
 (2489, 0.18490826842367114),
 (1723, 0.18442777839082938),
 (1172, 0.1827527425386942),
 (1075, 0.18217040903595175),
 (125, 0.18149767771374134),
 (362, 0.18118153250363223),
 (312, 0.18101502674998296),
 (1841, 0.1809035947085065),
 (150, 0.18044123662875142),
 (3695, 0.18017057273133338),
 (233, 0.17939874036898087),
 (951, 0.17889781910031294),
 (432, 0.17889116280878822),
 (1337, 0.17883775448910008),
 (229, 0.17853889893666167),
 (788, 0.17845999144126468),
 (2239, 0.1766114815127876),
 (370, 0.17545905729223785),
 (1060, 0.175276827349873),
 (3663, 0.17527682734987296),
 (113, 0.17520638947128794),
 (539, 0.1748771299570375),
 (1026, 0.17484479278225012),
 (515, 0.17450251522413332),
 (1573, 0.1729916424986601),
 (167, 0.17296584710575194),
 (2432, 0.17251638983558856),
 (5, 0.17189806769704513),
 (972, 0.1718503621286252),
 (974, 0.1718503621286252),
 (976, 0.1718503621286252),
 (978, 0.1718503621286252),
 (35, 0.17166022380717513),
 (877, 0.17133069613002583),
 (2564, 0.17087640377304888),
 (692, 0.1708166795189141),
 (483, 0.17069387898469296),
 (199, 0.1706180299070999),
 (3953, 0.1701604252870822),
 (1446, 0.16983916935475563),
 (3163, 0.16973873077440457),
 (3309, 0.16960873588253417),
 (2842, 0.16946370914726472),
 (593, 0.1692654532112021),
 (1015, 0.1691908423217437),
 (46, 0.16853061057398158),
 (1014, 0.16835875742536843),
 (4401, 0.16825369349148192),
 (3682, 0.16765098418171123),
 (2852, 0.16754156331667822),
 (1359, 0.16733200530681508),
 (3783, 0.16731823482534455),
 (365, 0.16705867034419603),
 (2436, 0.1670538139169114),
 (87, 0.16658454462833935),
 (2536, 0.16653674589857853),
 (617, 0.16627125290279174),
 (549, 0.16614826209307562),
 (26, 0.16587864018745824),
 (1568, 0.165615734242165),
 (38, 0.16551232134775956),
 (577, 0.16452254913212455),
 (222, 0.16398401233815757),
 (1165, 0.16301266592415653),
 (855, 0.16276214592677427),
 (1965, 0.16262498715414692),
 (579, 0.16243656060660053),
 (31, 0.16205368917828378),
 (643, 0.1620185174601965),
 (1861, 0.16201060697914985),
 (2774, 0.16116459280507603),
 (2709, 0.1611392504678166),
 (257, 0.160294142472749),
 (662, 0.16022343983185072),
 (687, 0.16022343983185067),
 (808, 0.15936381457791915),
 (4113, 0.15936381457791912),
 (813, 0.1592902903227588),
 (1891, 0.1591447576845762),
 (1973, 0.1590635244777291),
 (626, 0.15881420965409518),
 (163, 0.1586311035033464),
 (260, 0.15831189671532586),
 (1022, 0.1582774773439624),
 (883, 0.15816093371114423),
 (661, 0.15811388300841897),
 (601, 0.15804174746791175),
 (4379, 0.15792740590260113),
 (361, 0.1577092539152787),
 (502, 0.15728053787519436),
 (101, 0.15719549837837185),
 (2080, 0.15683308166871687),
 (3705, 0.15683308166871687),
 (1194, 0.156763611632205),
 (570, 0.1562690769794984),
 (59, 0.15620778296773496),
 (396, 0.15620778296773494),
 (4180, 0.15604694598308982),
 (1757, 0.15560551102236933),
 (547, 0.15560185826796974),
 (1168, 0.15530486576055388),
 (397, 0.1552768823323664),
 (2011, 0.1549449467002281),
 (2917, 0.154890056831339),
 (112, 0.15489005683133897),
 (1542, 0.15485674091932558),
 (1590, 0.15406577730392867),
 (628, 0.15384884720762404),
 (105, 0.15370617285615248),
 (3197, 0.1533479020760787),
 (1435, 0.1531001865739801),
 (363, 0.15257923607235452),
 (790, 0.15220388682955233),
 (159, 0.1521795517287765),
 (1334, 0.152127765851133),
 (609, 0.15181969466401632),
 (717, 0.15181969466401632),
 (731, 0.15181969466401632),
 (2083, 0.1517488667177011),
 (4604, 0.15174886671770108),
 (2794, 0.15148907093117056),
 (2729, 0.15139562384902316),
 (298, 0.1508092362174822),
 (108, 0.1506456859459397),
 (356, 0.15042028661807094),
 (987, 0.1503656181493862),
 (2585, 0.15031867797664444),
 (4067, 0.1501562437825932),
 (91, 0.14994144055993897),
 (3933, 0.14969623771302396),
 (351, 0.14955883865909506),
 (1208, 0.14953343588376802),
 (4188, 0.14933067858931148),
 (1975, 0.14915990496335552),
 (3488, 0.1488774736637553),
 (1660, 0.14872731984475068),
 (61, 0.14865029074648395),
 (2022, 0.1486502907464839),
 (932, 0.14863145949328682),
 (941, 0.1484556231305235),
 (1387, 0.14813121596360823),
 (2735, 0.14790199457749045),
 (749, 0.147455202815555),
 (1578, 0.14741228678018187),
 (2995, 0.14739069873768507),
 (2255, 0.14732761572966943),
 (476, 0.1471376380674995),
 (30, 0.14712247158412495),
 (1986, 0.14712247158412492),
 (933, 0.1469601998415143),
 (732, 0.14673214211726593),
 (419, 0.1465881824639873),
 (1178, 0.14647845813401372),
 (380, 0.1463264920469005),
 (858, 0.14610907288176755),
 (1381, 0.14564381625088385),
 (1663, 0.14552644042288462),
 (16, 0.14550656745371043),
 (1282, 0.14537891647074358),
 (4710, 0.1452546078405126),
 (174, 0.1450481335245684),
 (2739, 0.14497607525855),
 (83, 0.14497607525854997),
 (1348, 0.1449427589131121),
 (1819, 0.1447493728911492),
 (2603, 0.14467705244052384),
 (1651, 0.1446770524405238),
 (68, 0.14461058159695878),
 (236, 0.1444000375739939),
 (1676, 0.1444000375739939),
 (4142, 0.1444000375739939),
 (700, 0.14428643513521952),
 (2576, 0.14428643513521952),
 (253, 0.14414999403128947),
 (74, 0.14409587351350756),
 (169, 0.14401645996461912),
 (2592, 0.14401645996461912),
 (2452, 0.14391461738461203),
 (2389, 0.14388861576723858),
 (543, 0.14388861576723855),
 (1339, 0.1437422138818467),
 (2119, 0.14374221388184666),
 (1482, 0.14354231294080363),
 (1043, 0.14331837412227325),
 (1600, 0.14311293024703062),
 (79, 0.14305173505575042),
 (3447, 0.1428149958897535),
 (2933, 0.14257889266405868),
 (595, 0.14253932901995964),
 (1096, 0.14253932901995964),
 (2055, 0.14244246232238394),
 (341, 0.14228697238234234),
 (1041, 0.14218169158924995),
 (510, 0.1420143204993453),
 (1840, 0.14195908196512458),
 (850, 0.14180759891273495),
 (1307, 0.14180759891273495),
 (14, 0.14159846508095775),
 (456, 0.14159846508095775),
 (1604, 0.14156767945931312),
 (2839, 0.14156767945931312),
 (2833, 0.1415157315272508),
 (1850, 0.14139463009963582),
 (585, 0.1413821976165291),
 (776, 0.14122602277911428),
 (4264, 0.14122602277911428),
 (180, 0.14098147537004826),
 (1842, 0.14096334387034368),
 (306, 0.1409189697250473),
 (4351, 0.14085904245475278),
 (1481, 0.14056730784585048),
 (3731, 0.1404734323650245),
 (798, 0.14044557290672022),
 (2464, 0.1402214618798984),
 (3813, 0.1402214618798984),
 (1314, 0.14004495992013238),
 (584, 0.13997084244475302),
 (1007, 0.13992926963738905),
 (430, 0.13974919409912975),
 (2641, 0.1396759804310659),
 (7, 0.13947123479262052),
 (3280, 0.1394712347926205),
 (849, 0.13926038814503164),
 (494, 0.13922271529239397),
 (2531, 0.139168053442015),
 (680, 0.1391041415886136),
 (2186, 0.1391041415886136),
 (1834, 0.13832083379312204),
 (454, 0.13825251033437555),
 (1333, 0.13820466381612853),
 (878, 0.1382046638161285),
 (620, 0.13801311186847087),
 (747, 0.13801311186847084),
 (773, 0.13801311186847084),
 (2159, 0.13801311186847084),
 (82, 0.13801311186847082),
 (1496, 0.13801311186847082),
 (2009, 0.13730231000014673),
 (754, 0.1373023100001467),
 (81, 0.13722995144209707),
 (712, 0.1372036438199491),
 (2299, 0.1369834981465971),
 (3847, 0.13695509782774606),
 (1697, 0.13694735760349216),
 (2555, 0.13693063937629155),
 (1419, 0.13688645537353553),
 (37, 0.13669418497887664),
 (217, 0.13669418497887662),
 (778, 0.1363714361483687),
 (2664, 0.13613529495622556),
 (325, 0.13598835989456823),
 (3361, 0.1359619620762288),
 (693, 0.13596196207622877),
 (1195, 0.13595728373467908),
 (914, 0.13590591771670013),
 (1388, 0.13567769603137989),
 (41, 0.13552618543578768),
 (70, 0.13545924239123125),
 (3888, 0.13545924239123125),
 (2006, 0.13524068651867785),
 (1992, 0.13523217305126087),
 (2252, 0.13523217305126084),
 (1950, 0.1352246807565627),
 (134, 0.13510724722962958),
 (2558, 0.13494955395932634),
 (1089, 0.13475832551423128),
 (4209, 0.13475832551423128),
 (2485, 0.1347135165213881),
 (2771, 0.13471266794032577),
 (2292, 0.13471266794032574),
 (931, 0.13468700594029473),
 (161, 0.13456511220802697),
 (2355, 0.13456511220802697),
 (1289, 0.13454905527673566),
 (2803, 0.13454905527673564),
 (634, 0.13451854182690984),
 (1365, 0.13451854182690984),
 (2628, 0.1341862600304233),
 (2038, 0.13413919185074422),
 (757, 0.13413872400955498),
 (1582, 0.13413872400955498),
 (2099, 0.1339728254114167),
 (3202, 0.13394102932092233),
 (228, 0.1338923854009157),
 (800, 0.1336306209562122),
 (3531, 0.1336306209562122),
 (986, 0.1334223112099919),
 (119, 0.13325650628383545),
 (287, 0.13318097607517063),
 (765, 0.13315005718713657),
 (129, 0.1331245296801186),
 (1203, 0.1331245296801186),
 (1087, 0.13282871543257366),
 (3513, 0.13280317881493262),
 (2504, 0.13270291214996663),
 (3644, 0.13270291214996663),
 (1730, 0.1327029121499666),
 (2046, 0.13259870882635919),
 (809, 0.1322423655725932),
 (1685, 0.13219258625278862),
 (2561, 0.13219258625278862),
 (1153, 0.132137494528682),
 (1046, 0.13213749452868198),
 (555, 0.13208134942543412),
 (814, 0.13198534998251144),
 (1888, 0.13191003525227865),
 (117, 0.13177297660794252),
 (918, 0.13175680375046622),
 (2101, 0.1316397997488186),
 (2341, 0.13145762051240475),
 (2458, 0.13145762051240473),
 (1034, 0.13119876048994658),
 (3624, 0.13115784746777814),
 (535, 0.1310331438046061),
 (1426, 0.1309962486486432),
 (898, 0.13093073414159542),
 (2426, 0.13093073414159542),
 (2683, 0.13093073414159542),
 (673, 0.13091711184179874),
 (2420, 0.13041013273932528),
 (1001, 0.13041013273932525),
 (4314, 0.13041013273932525),
 (3392, 0.1302677894557859),
 (1746, 0.13012000972647114),
 (2168, 0.12982067643437473),
 (102, 0.12970381488916286),
 (1013, 0.12970381488916286),
 (1646, 0.12961481396815722),
 (824, 0.12959031905837254),
 (4204, 0.1294997541905147),
 (2169, 0.1292611223882469),
 (436, 0.12916049923730266),
 (1810, 0.12880163722232754),
 (250, 0.12876731300127242),
 (1056, 0.12876571029149494),
 (279, 0.128590174861325),
 (1696, 0.12856634096568212),
 (1554, 0.1285269389711664),
 (484, 0.12838814775327387),
 (1090, 0.12838814775327387),
 (2135, 0.12834958696317053),
 (2390, 0.12834958696317053),
 (418, 0.12815503244929435),
 (935, 0.12815503244929435),
 (1910, 0.12815503244929435),
 (1678, 0.12811469025908923),
 (4105, 0.12808688457449496),
 (2953, 0.12777531299998798),
 (332, 0.1274910516623353),
 (3839, 0.12741179785940637),
 (1567, 0.12739983374858985),
 (4369, 0.12718076993069996),
 (1513, 0.1270513677232761),
 (1223, 0.1269535982838459),
 (1159, 0.1266495173722607),
 (1774, 0.12661174649749146),
 (889, 0.12655102640365665),
 (2945, 0.1265164122200136),
 (660, 0.12651201921276492),
 (1167, 0.12649986102531555),
 (857, 0.1262808134825738),
 (1215, 0.12615647859673193),
 (1109, 0.12613124477737828),
 (1145, 0.12611797548642814),
 (276, 0.12607501611347563),
 (1363, 0.12591531108506315),
 (2937, 0.12586924479976438),
 (100, 0.12582443030015547),
 (1935, 0.12582443030015547),
 (1101, 0.12577074912523467),
 (340, 0.12577074912523464),
 (1729, 0.12561705772469717),
 (616, 0.12561705772469714),
 (342, 0.1255829569401492),
 (3660, 0.12552411131335844),
 (571, 0.12508500511013046),
 (3784, 0.12508500511013046),
 (402, 0.12505410084650617),
 (4296, 0.12501082204235608),
 (156, 0.12495120046661576),
 (3006, 0.12483755678647186),
 (329, 0.12483755678647185),
 (2642, 0.12483755678647185),
 (2456, 0.12483081008682707),
 (1401, 0.12482847868175956),
 (4757, 0.1247219128924647),
 (263, 0.12461119656980671),
 (350, 0.12461119656980671),
 (168, 0.12440333788202983),
 (2264, 0.12434956509461076),
 (708, 0.12421180068162377),
 (1352, 0.12393943320395891),
 (182, 0.12393565450509968),
 (2473, 0.12393565450509968),
 (2041, 0.12380818693965547),
 (3352, 0.1237179148263484),
 (3370, 0.12371791482634839),
 (4631, 0.12366340153230447),
 (1173, 0.12365680446706236),
 (459, 0.12322413271068329),
 (1296, 0.12322413271068329),
 (291, 0.12298800925361815),
 (1237, 0.12297549457444526),
 (1562, 0.12297549457444526),
 (1508, 0.12297549457444525),
 (514, 0.12291425331939641),
 (2296, 0.12284357231681822),
 (2110, 0.1228435723168182),
 (4504, 0.1228435723168182),
 (1346, 0.12273468661750603),
 (823, 0.12269377914491109),
 (2828, 0.12269377914491109),
 (416, 0.12267832166086295),
 (1350, 0.12246683320126191),
 (3924, 0.12238952390511142),
 (2165, 0.12233554836823933),
 (1796, 0.12229362631033981),
 (1619, 0.12226299589667952),
 (1556, 0.12203940765702119),
 (3084, 0.12198750911856669),
 (1905, 0.12198750911856668),
 (3082, 0.12198750911856668),
 (950, 0.12194027900421252),
 (2866, 0.12179969144117256),
 (945, 0.1217161238900369),
 (1724, 0.1217161238900369),
 (842, 0.12154881642416258),
 (1235, 0.12151376942941487),
 (956, 0.1213724541484165),
 (1209, 0.12119125674493644),
 (1236, 0.12099720746691761),
 (389, 0.1207876883357548),
 (3542, 0.12046772038736685),
 (3040, 0.12035869531881409),
 (378, 0.12032773777797239),
 (1404, 0.12032773777797239),
 (1505, 0.12019059160901292),
 (928, 0.12012499502607457),
 (40, 0.12012499502607454),
 (198, 0.12008008008899272),
 (1509, 0.12001983962979582),
 (319, 0.1198780559540391),
 (2045, 0.11982893790305563),
 (1641, 0.11975699017041914),
 (4643, 0.11975699017041914),
 (1636, 0.11973018608653989),
 (939, 0.11952286093343939),
 (1246, 0.11952286093343938),
 (3088, 0.11952286093343938),
 (1298, 0.11952286093343935),
 (3461, 0.11952286093343935),
 (1110, 0.11933208210323486),
 (13, 0.1192766755825985),
 (493, 0.11922516965940007),
 (2206, 0.11922516965940007),
 (892, 0.11905869272970875),
 (1764, 0.11891767800211261),
 (2721, 0.11882184103986773),
 (2043, 0.1187339225364944),
 (2954, 0.1187339225364944),
 (1629, 0.11854714778748668),
 (463, 0.11854714778748665),
 (1035, 0.11854714778748665),
 (3892, 0.11854714778748665),
 (4389, 0.11854714778748665),
 (564, 0.11850215171517903),
 (53, 0.11850215171517901),
 (200, 0.11843130509275843),
 (1906, 0.11837246976492673),
 (740, 0.11837246976492671),
 (3428, 0.11829695303011786),
 (2644, 0.11802689633598974),
 (4044, 0.11802689633598974),
 (2231, 0.11796040340639578),
 (280, 0.11783084426418865),
 (1409, 0.11779306114757188),
 (1487, 0.11774246154376096),
 (434, 0.11769797726729993),
 (591, 0.11748456280837354),
 (1098, 0.1173111450882002),
 (1896, 0.11715583722580122),
 (1338, 0.11715583722580121),
 (1806, 0.11715583722580121),
 (3691, 0.117127370249989),
 (3305, 0.11710800875382398),
 (1920, 0.11703488479492778),
 (88, 0.11684863300070739),
 (523, 0.11679054877900046),
 (1205, 0.11679054877900046),
 (1393, 0.11679054877900046),
 (3619, 0.11679054877900046),
 (191, 0.11677484162422845),
 (4146, 0.11664236870396084),
 (1559, 0.11652682398149182),
 (508, 0.11638287479252928),
 (76, 0.11630378346515294),
 (1830, 0.11630378346515294),
 (545, 0.1161553420728616),
 (1062, 0.1161553420728616),
 (1749, 0.1161553420728616),
 (715, 0.11595420713048969),
 (2523, 0.11595420713048969),
 (775, 0.11595420713048968),
 (3425, 0.11595420713048968),
 (2621, 0.11582810137580163),
 (627, 0.11581320482871724),
 (3534, 0.11581320482871724),
 (4548, 0.11581320482871724),
 (2622, 0.115757412359026),
 (3356, 0.11574164195241907),
 (531, 0.11574164195241905),
 (45, 0.11572751247156893),
 (755, 0.11572751247156893),
 (744, 0.115590105910383),
 (4007, 0.115590105910383),
 (171, 0.11547005383792516),
 (4193, 0.11532776166577342),
 (64, 0.11528720328165794),
 (1185, 0.11501092655705904),
 (3016, 0.11501092655705904),
 (653, 0.11501092655705902),
 (3431, 0.11501092655705902),
 (301, 0.11483385035264289),
 (172, 0.11483385035264286),
 (587, 0.11449034419762447),
 (1175, 0.11443442705426586),
 (195, 0.11430748921480312),
 (1169, 0.11430748921480312),
 (1831, 0.11430748921480312),
 (4834, 0.11430748921480312),
 (864, 0.11411874527477081),
 (3073, 0.11401457341905726),
 (271, 0.11387972467474598),
 (992, 0.11387972467474598),
 (1344, 0.11387972467474597),
 (1042, 0.11386477099801225),
 (1702, 0.11385500851066224),
 (4412, 0.11385500851066224),
 (197, 0.11383129612708512),
 (3865, 0.11374535327139998),
 (2267, 0.11374535327139997),
 (3849, 0.11374535327139997),
 (4162, 0.11374535327139994),
 (333, 0.1136889179648888),
 (1847, 0.1136168031983779),
 (3683, 0.11344607913018796),
 (3857, 0.11327877206476618),
 (1657, 0.11315578997220073),
 (1640, 0.11307249058835613),
 (3709, 0.11307249058835613),
 (3740, 0.11307249058835613),
 (2400, 0.11293848786315641),
 (145, 0.11291981880147615),
 (192, 0.11291981880147615),
 (764, 0.11268723396380222),
 (599, 0.1123134775976545),
 (335, 0.11230588859277423),
 (2142, 0.11227217828476796),
 (3808, 0.11227217828476796),
 (1811, 0.11213565339313257),
 (86, 0.11210486709904724),
 (2566, 0.11210486709904724),
 (3899, 0.11210486709904724),
 (1524, 0.11199800894198361),
 (2245, 0.11194341570991126),
 (2587, 0.11194341570991126),
 (2992, 0.11191907753901596),
 (449, 0.11185178814316073),
 (2756, 0.11161752443410192),
 (20, 0.11161618367500503),
 (188, 0.11161033466795486),
 (2105, 0.11161033466795485),
 (589, 0.11155467020454339),
 (1281, 0.11155467020454339),
 (2228, 0.11155467020454339),
 (2764, 0.11154548988356303),
 (856, 0.11154548988356301),
 (4289, 0.11154548988356301),
 (854, 0.11153143690840378),
 (957, 0.11153143690840377),
 (3811, 0.11126972805283739),
 (568, 0.11126972805283737),
 (4391, 0.11120813395564438),
 (572, 0.11109841197270617),
 (2441, 0.11097419040461881),
 (377, 0.1109741904046188),
 (277, 0.11085479909473865),
 (17, 0.11084861282842647),
 (219, 0.11081832770072811),
 (2503, 0.11081832770072811),
 (266, 0.1108183277007281),

In [239]:
def recommend (movie):
    movie_index = new_df [new_df['title'] == movie].index[0]
    distances= similarity [movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(i[0])

In [229]:
new_df[new_df['title'] == 'Batman Begins'].index[0]

119

In [240]:
recommend ('Avatar')

1325
47
149
1545
1928

In [241]:
def recommend (movie):
    movie_index = new_df [new_df['title'] == movie].index[0]
    distances = similarity [movie_index]
    movies_list = sorted(list(enumerate (distances)), reverse=True, key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [245]:
recommend ('Batman Begins')

The Dark Knight Rises
The Dark Knight
Superman
The Fifth Element
Teenage Mutant Ninja Turtles II: The Secret of the Ooze

In [246]:
import pickle

In [247]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [249]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [253]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [254]:
pickle.dump(similarity,open('similarity.pkl','wb'))